.header{
    text-align: center;
    background-color:whitesmoke;
    margin: 0%;
}

.budget{
    background-color: turquoise;
    width: auto;
    height: auto;
    margin-top: 0%;
    color:firebrick;
}

.header nav {
    background-color: black;
    line-height: 40px;
}

.header nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
}

.header nav a:hover {
    background-color: brown;
}

